
@model IEnumerable<KLich.Meet_participant>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    Ilość uczestników: 
    @ViewBag.count
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Meet.Place)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Participant.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Participant.SureName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Participant.Email)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Meet.Place)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Participant.FirstName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Participant.SureName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Participant.Email)
    </td>
    <td>
        @Html.ActionLink("Edytuj", "Edit", new { id = item.id_Meet_participant }) |
        @Html.ActionLink("Usuń", "Delete", new { id = item.id_Meet_participant })
    </td>
</tr>
    }

</table>
